.container{
    height: 400px;
    width: 1200px;
    border: 1px black solid;
    background-color: grey;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 8px 8px #33334d;
}

.roundChoiceContainer{
     border: 1px black solid; 
    margin: 50px;
}

.choice{
    padding-top: 50px;
    border: 1px black solid;
    height: 75px;
    width: 75px;
    margin-left: 80px;
    margin-right: 80px;
    display: inline-block;
}

choice.one{
    color: black;
}

choice.one.selected{
    background-color: lightgray;
}

choice.three{
    color: black;
}

choice.three.selected{
    background-color: lightgray;
}

choice.five{
    color: black;
}

choice.five.selected{
    background-color: lightgray;
}

button{
    width: 140px;
    height: 40px;
    background-color: dodgerblue;
    border-radius: 12px;
    color: white;
    
}