.container{
    height: 400px;
    width: 1200px;
    border: 1px black solid; 
    background-color: grey;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 8px 8px #33334d;
}

.roundChoiceContainer{
    border: 1px black solid;  
    margin: 50px;
}

.choice{
    margin-top: 50px;
    border: 1px black solid; 
    height: 100px;
    width: 100px;
    margin-left: 80px;
    margin-right: 80px;
    display: inline-block;
}

.choice.one{
    color: black;
}

.choice.one.selected{
    background-color: #888f99;
    border: white 2px solid;
    border-radius: 2px;
}

.choice.three{
    color: black;
}

.choice.three.selected{
    background-color: #888f99;
    border: white 2px solid;
    border-radius: 2px;
    
}

.choice.five{
    color: black;
}

.choice.five.selected{
    background-color: #888f99;
    border: white 2px solid;
    border-radius: 2px;
}

button{
    width: 140px;
    height: 40px;
    background-color: dodgerblue;
    border-radius: 12px;
    color: white;
    
}