.container{
    height: 400px;
    width: 1000px;
    border: 1px black solid;
    background-color: grey;
    display: inline-block;
}

.choiceContainer{
    padding-left: 10px;
    padding-top: 10px;
}

.choice{
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.choice.rock{
    border: 1px black solid;
    background-color: red;
}

.choice.paper{
    border: 1px black solid;
    background-color: blue;
}

.choice.scissors{
    border: 1px black solid;
    background-color: green;
}

button{
    width: 100px;
    height: 40px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.grey {
    background-color: grey;
}