<div class="container">
        <div>
            <div [ngStyle]="{'backgroundColor': rockSelected ? 'grey': 'red'}" class="choice rock" (click)="chooseThis('rock')">Rock</div>

            <div [ngStyle]="{'backgroundColor': paperSelected ? 'grey': 'blue'}" class="choice paper" (click)="chooseThis('paper')">Paper</div>

            <div [ngStyle]="{'backgroundColor': scissorsSelected ? 'grey': 'green'}" class="choice scissors" (click)="chooseThis('scissors')">Scissors</div>

        </div>
        <div>
            <button class="shootButton" (click)="makeSelection()" >Shoot!</button>
        </div>
    
</div>
