.container{
    height: 400px;
    width: 800px;
    display: inline-block;
    border: 1px black solid;
    background-color: grey;
}

.choice{
    margin: 10px;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.choice.rock{
    border: 1px black solid;
    background-color: red;
}

.choice.paper{
    border: 1px black solid;
    background-color: blue;
}

.choice.scissors{
    border: 1px black solid;
    background-color: green;
}