<div class="container">
        <div class="choiceContainer">

            <div [ngClass]="{'choice rock': rockSelected, 'choice rock selected': !rockSelected}"(click)="chooseThis('Rock')">
            </div>

            <div [ngStyle]="{'backgroundColor': paperSelected ? 'grey': 'grey'}" class="choice paper" (click)="chooseThis('Paper')">
            </div>

            <div [ngStyle]="{'backgroundColor': scissorsSelected ? 'grey': 'grey'}" class="choice scissors" (click)="chooseThis('Scissors')">
            </div>

        </div>
        <div>
            <button class="shootButton" (click)="makeSelection()">Shoot!</button>
        </div>
    
</div>
