<div class="main">
    <div class="outletContainer">
        <div id="titleBox">
            <div id="title">
                <!-- need to change this back to the round selection after testing finsihed -->
                <a routerLink="/selection"><h1>Rock, Paper, Scissors</h1></a>
            </div>
            
            <div id="usernameBox">
                <span>Username:</span><input type="text" #username (keyup)="onKeyUp(username.value)"/>
            </div>    
        </div>
        
        <router-outlet></router-outlet>
    </div>
    <div id="leaderBoardBox">
            <a routerLink="/Leaderboard">View Leaderboard</a>
    </div>
</div>

